@import '../../theme/theme.less';

.adminHeader {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: @front-color;
  box-shadow: @box-shadow-base;

  .tool {
    padding: 8px;
    color: @theme-font-color1;
    &:hover {
      cursor: pointer;
      color: @theme-font-color3;
    }
    .funcs {
      margin: auto 8px;
      font-size: 16px;
      vertical-align: middle;
    }
  }

}