@import '../../../theme/theme.less';

.addUserForm{
  margin-top: 16px;
    .btn{
          display: flex;
          justify-content: flex-end;
          .createUser {
            width: 100%;
          }
    }
    
}